body {
  width: 1000px;
  margin: auto;
}

#banner-photo {
  img {
    display: none;
  }
}

.contact {
  .contact-form {
    input {
      width: 95%;
      display: block;
    }
  }
}

.work-list {
  .snapshot-container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
  }
}