@charset "utf-8";
@import "mixin";

$color_h3_bg2: #FFB672;

#navigation {
  ul {
    li {
      background-color: $color_menu_bu;

      &:hover {
        background-color: $color_menu_bu_hover;
      }
      &.current {
        background-color: $color_menu_bu_hover;
      }
    }
  }
}

h3 {
  background-color: $color_h3_bg2;
  span {
    color: #FFFFFF;
  }
}

.baseinfo-quote {
  margin-bottom: 1em;
}

.skill-group {
  .skill-detail {
    float: left;
  }
  .skill-quote {
    float: right;
  }
}

.skill-detail-env-tools UL > LI:first-child {
  margin-right: 2em;
}

.work-list {
  list-style: none;
  .work-list-item-content {
    ul {
      *padding: 0; // IE 7
      *margin: 0;
    }
    .snapshot-container {
      *margin-right: -5em;
    }
  }
}

.contact {
  .contact-form {
    input {
      line-height: 1.3em;
      padding: .5em;
      *width: 47.548%; // IE 7
      &:first-child {
        margin-right: 1em;
      }
    }
    #from {
      float: right;
      margin-right: 0;
      padding-right: 0;
    }

    textarea {
      margin-top: 1.3em;
      *margin-top: 1.5em; // IE 7
      *width: 98.2%; // IE 7
    }
    .contact-button {
      #asynInfo {
        *margin-top: -4.3em;
      }

      button {
        margin-top: .5em;
      }
    }
  }
}